* {
    padding: 0;
    margin: 0;
}

.container {
    padding: 10px;
    margin: 10px;
}

.container02 {
    padding: 10px;
    margin: 10px;
    border: 1px solid #f44336
}

.container03 {
    padding: 10px;
    margin: 10px;
    border-left: 1px solid #2196F3;
}

.container04 {
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid #4CAF50;
    border-top: 1px solid #4CAF50;
}

.container05 {
    padding: 10px;
    margin: 10px;
    border-left: 1px solid #f44336;
    background-color: #e58c86;
}